<html>
<head>
  <title>Presidents!</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
  <header>
    <img src="/static/us-flag.svg" />
    Welcome to the Past Presidents API
  </header>

  <div class="content">
    Here's a little API with data about past presidents.  The API querying is
    pretty flexible, with all the actions described below.  To use the API,
    just hit the endpoint <a href="/api/">presidents.darkcooger.net/api/</a>
    with any of the desired actions added on as path elements.  For example,
    if you want to see the list of living presidents sorted by age:<br/><br/>
    <a href="/api/living/age/sorted">presidents.darkcooger.net/api/living/age/sort</a>

    <br/><br/>

    The actions can come in any order, but any time you have use
    <span class="code">sort</span>, it will sort the list bsaed on the nearest
    previous sortable action.  For example, in <span class="code">
    /api/age/sort/term/birthday/</span>, the results will be sorted by age.
    The same is true with the <span class="code">stats</span> action.

    <br/><br/>

    There's also a <a href="/view">viewer</a> that works like the API, but
    instead of returning data, it displays a page with the information
    laid out in tables.  The URLs work just like API querying: by adding
    actions to the URL, you can change what gets displayed.  Want just the
    living presidents, their birthdays, and when they served?
    <a href="/view/living/birthday/term">presidents.darkcooger.net/view/living/birthday/term</a>
    </thead>

    <br/><br/>

    Have fun!  The actions are listed below!
  </div>

  {{#actions}}
  <div class="action">
    <h2>{{#names}}{{.}}<br/>{{/names}}</h2>
    <div>
      {{description}}
      <table cellpadding="0" cellspacing="0">
        {{#sort}}<tr><td class="name">sortable</td><td>{{sort}}</td></tr>{{/sort}}
        {{#stats}}<tr><td class="name">statsable</td><td>{{stats}}</td></tr>{{/stats}}
      </table>
    </div>
  </div>
  {{/actions}}

  <div class="action">
    <h2>raw<br/></h2>
    <div>
      Sends back the unclean data in its full glory
    </div>
</body>
</html>
