<html>
<head>
  <title>Presidents!</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  <link rel="stylesheet" type="text/css" href="/static/view.css"/>
</head>
<body>
  <header>
    <img src="/static/us-flag.svg" />
    Welcome to the Past Presidents API
  </header>

  <div class="content">
    {{#presidents}}
    <div class="president">
      <header>{{name}}</header>
      <table cellpadding="0" cellspacing="0">
        {{#birthday}}
        <tr>
          <td>Born</td>
          <td>{{birthday}}</td>
        </tr>
        {{/birthday}}

        {{#deathday}}
        <tr>
          <td>Died</td>
          <td>{{deathday}}</td>
        </tr>
        {{/deathday}}

        {{#fullAge}}
        <tr>
          <td>Age{{#deathday}} at death{{/deathday}}</td>
          <td>{{fullAge}}</td>
        </tr>
        {{/fullAge}}

        {{#started}}
        <tr>
          <td>Term started</td>
          <td>{{started}}</td>
        </tr>
        {{/started}}

        {{#ended}}
        <tr>
          <td>Term ended</td>
          <td>{{ended}}</td>
        </tr>
        {{/ended}}

        {{#termLength}}
        <tr>
          <td>&nbsp;</td>
          <td>{{termLength}}</td>
        </tr>
        {{/termLength}}

        {{#party}}
        <tr>
          <td>Party</td>
          <td>{{#party.name}}{{name}}{{/party.name}}{{^party.name}}{{party}}{{/party.name}}</td>
        </tr>
        {{/party}}

        {{#elections}}
        <tr>
          <td>{{year}} election</td>
          <td>
            won {{electoralVotes}} of {{possibleElectoralVotes}} electoral votes
            {{#electoralPct}}({{#pct}}{{electoralPct}}{{/pct}}){{/electoralPct}}
          </td>
        </tr>
        {{/elections}}


      </table>
    </div>
    {{/presidents}}
  </div>
</body>
</html>
