body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: black;
  color: white;
  font-size: 2rem;
  height: 4rem;
  line-height: 4rem;
}

header.index img {
  float: left;
  height: 3rem;
  margin: 0.5rem;
}

.content {
  margin: 1rem;
}

.content .code {
  font-family: monospace;
  background: #DDD;
}

.action {
  clear: both;
  border: 1px dashed black;
  margin: 1rem;
}

.action + .action {
  margin-top: 1.5rem;
}

.action h2 {
  font-family: monospace;
  margin-top: 0;
  margin-bottom: 0.5rem;
  background-color: #DDD;
  padding: 0.5rem;
}

.action div {
  margin-left: 20px;
  padding: 1rem 0;
}

.action table {
  border-top: 1px solid black;
  margin-top: 0.25rem;
  padding-top: 0.25rem;
}

.action table td.name {
  font-weight: bold;
  vertical-align: top;
  padding-right: 1rem;
}

.action table td {
  margin: 0;
  padding: 0.25rem 0;
}

.action table tr + tr td {
  border-top: 1px dotted #BBB;
}
