.president {
  clear: both;
}

header.president img {
  max-width: 5rem;
  float: left;
  border: 3px solid white;
  margin: 0.5rem;
}

.president table tr td:first-of-type {
  font-weight: bold;
  text-align: right;
  padding: 0.2rem 0.5rem;
  vertical-align: top;
}

.president table tr td + td {
}
